/*p {
	color:white;
	background-color: gray;
}
This is to make all the paragraphs have a white text and a grey back ground
*/


#intro {
	color:white;
	background-color:green;
	padding:10px;
}
/*
This is refrenced in the HTML file and will style the correct reference. This is called ID and class selector
*/

.first{font-size: 200%;}
/*
Class selector changing the font size
*/

#intro .first em{
	color:pink;
	background-color:gray;
}
/*
This is Descendants Selectors
*/

/*This top half is for the firsthtml file and the bottom half is for the HTMLCSSPractice file*/

/*General Font Type*/
body{
	font-family: Arial;
}
/*Font Types*/
.serif{
	font-family: "Times New Roman",Times,serif;
}

.sansserif{
	font-family: Helvetica,Arial,sansserif;
}

.monospace{
	font-family: "Courier New",Courier,monospace;
}

.cursive{
	font-family: Florence,cursive
}

.fantasy{
	font-family: Blippo,fantasy;
}
/*Font sizes*/
.xx-small{
	font-size: xx-small;
}

.x-small{
	font-size: x-small;
}

.small{
	font-size: small;
}

.medium{
	font-size: medium;
}

.large{
	font-size: large;
}

.x-large{
	font-size: x-large;
}

.xx-large{
	font-size: xx-large;
}
/*Font styles*/
.normal{
	font-style: normal;
}
.italic{
	font-style: italic;
}
.oblique{
	font-style: oblique;
}
/*Font weight*/
.normal{
	font-weight: normal;
}

.light{
	font-weight: lighter;
}

.bold{
	font-weight: bold;
}

.bolder{
	font-weight: bolder;
}

.weight em1{
	font-weight: 100;
}
















