/*p {
	color:white;
	background-color: gray;
}
This is to make all the paragraphs have a white text and a grey back ground
*/


#intro {
	color:white;
	background-color:green;
	padding:10px;
}
/*
This is refrenced in the HTML file and will style the correct reference. This is called ID and class selector
*/

.first{font-size: 200%;}
/*
Class selector changing the font size
*/

#intro .first em{
	color:pink;
	background-color:gray;
}
/*
This is Descendants Selectors
*/

/*This top half is for the firsthtml file and the bottom half is for the HTMLCSSPractice file*/

/*General Font Type*/
body{
	font-family: Arial;
}

/*Font Types*/
.serif{
	font-family: "Times New Roman",Times,serif;
}

.sansserif{
	font-family: Helvetica,Arial,sansserif;
}

.monospace{
	font-family: "Courier New",Courier,monospace;
}

.cursive{
	font-family: Florence,cursive
}

.fantasy{
	font-family: Blippo,fantasy;
}

/*Font sizes*/
.xx-small{
	font-size: xx-small;
}

.x-small{
	font-size: x-small;
}

.small{
	font-size: small;
}

.medium{
	font-size: medium;
}

.large{
	font-size: large;
}

.x-large{
	font-size: x-large;
}

.xx-large{
	font-size: xx-large;
}

/*Font styles*/
.normal{
	font-style: normal;
}
.italic{
	font-style: italic;
}
.oblique{
	font-style: oblique;
}
/*Font weight*/
.normal{
	font-weight: normal;
}

.light{
	font-weight: lighter;
}

.bold{
	font-weight: bold;
}

.bolder{
	font-weight: bolder;
}

/*Font variant*/

.normalVar{
	font-variant: normal;
}

.smallVar{
	font-variant: small-caps;
}

.headingVar{
	font-variant: small-caps;
}

/*Font colour*/

.colourExample{
	color: red;
}

.colourExample2{
	color: #0000FF;
}

.colourExample3{
	color: red;
}

/*Text alignment horizontally*/

.Left{
	text-align: left;
}

.Center{
	text-align: center;
}

.Right{
	text-align: right;
}

/*Text alignment vertically*/

.Top{
	vertical-align: top;
}

.Middle{
	vertical-align: middle;
}

.Bottom{
	vertical-align: bottom;
}

span.Baseline{
	vertical-align: baseline;
}

span.Sub{
	vertical-align: sub;
}

span.Super{
	vertical-align: super; 
}

span.Pixel{
	vertical-align: -10px;
}

.main{
	height: 150px; width: 500px;
	background-color: LightSkyBlue;
	display: inline-table;
}

.paragraph{
	display: table-cell;
	vertical-align: middle;
}

/*Text decoration*/

.none{
	text-decoration: none;
	font-variant: small-caps;
}

.inherit{
	text-decoration: inherit;
	font-variant: small-caps;
}

.overline{
	text-decoration: overline;
	font-variant: small-caps;
}

.underline{
	text-decoration: underline;
	font-variant: small-caps;
}

.overline{
	text-decoration: overline;
	font-variant: small-caps;
}

.line-through{
	text-decoration: line-through;
	font-variant: small-caps;
}

.blink{
	text-decoration: blink;
}

/*Text Indenting*/

.indent{
	text-indent: 60px;
}

/*Text Shadow*/

.shadow{
	color: blue;
	text-shadow: 5px 2px 4px grey;
}

/*Text transform*/

.capitalize{
	text-transform: capitalize;
}

.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

/*Letter spacing*/

.positive{
	letter-spacing: 4px;
}

.negative{
	letter-spacing: -1.5px;
}

/*Word spacing*/

.PosWordSp{
	word-spacing: 20px;
}

.NegWordSp{
	word-spacing: -5px;
}

/*White spacing*/

.nowrap{
	white-space: nowrap;
}

.pre{
	white-space: pre;
}

.pre-line{
	white-space: pre-line;
}

.pre-wrap{
	white-space: pre-wrap;
}

/*Border properties*/

.thinBorder{
	padding: 10px;
	border-style: solid;
	border-width: 2px;
}

.thickBorder{
	padding: 10px;
	border-style: solid;
	border-width: 5px;
}

.blueBorder{
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: blue;
}

.dottedBorder{
	padding: 10px;
	border-style: dotted;
	border-width: 2px;
}

.dashedBorder{
	padding: 10px;
	border-style: dashed;
	border-width: 2px;
}

.doubleBorder{
	padding: 10px;
	border-style: double;
	border-width: 2px;
}

.groovedBorder{
	padding: 10px;
	border-style: groove;
	border-width: 2px;
}

.ridgedBorder{
	padding: 10px;
	border-style: ridge;
	border-width: 2px;
}

.insetBorder{
	padding: 10px;
	border-style: inset;
	border-width: 2px;
}

.outsetBorder{
	padding: 10px;
	border-style: outset;
	border-width: 2px;
}

.hiddenBorder{
	padding: 10px;
	border-style: hidden;
	border-width: 2px;
}

.customBorder1{
	border-style: solid;
	padding: 10px;
	height: 90px;
	width: 90px;
}

.customBorder2{
	border-style: solid;
	padding: 10px;
	height: 90px;
	width: 100%;
}

/*Background properties*/

.backgroundcolour{
	background-color: lightskyblue;
}

.backgroundImage{
	height: 628px;
	width: 500px;
	background-image: url("Image.gif");
}

.repeatBackgroundImage{
	height: 628px;
	background-image: url("Image.gif");
	background-repeat: repeat-x;
}

.fixedImage{
	height: 628px;
	background-image: url("Image.gif");
	background-attachment: fixed;
}

.scrollImage{
	height: 628px;
	background-image: url("Image.gif");
	background-attachment: scroll;
}

/*Styling lists*/

.lowerAlpha{
	list-style-type: lower-alpha;
}

.circularLists{
	list-style-type: circle;
}

.squareLists{
	list-style-type: square;
}

.oneLineListStyle{
	list-style: square outside none;
}

/*Table properties*/

.tableMod{
	border-collapse: separate;
	border-spacing: 5px 5px;
	empty-cells: hide;
}

.tableCaption{
	caption-side: top;
}

.autoLayout{
	table-layout: auto;
}

.fixedLayout{
	table-layout: fixed;
}

/*Links properties*/

a:hover{
	color: red;
}

a:link{
	text-decoration: none;
}

/*Mouse cursor properties*/

.cursor{
	height:436;
	width: 401;
	background-image: url("CursorTypesResize.png");
	cursor: pointer;
}

/*Display properties*/

.block{
	display: block;
}

.inline{
	display: inline;
}

/*Visibility properties*/

.hiddenElement{
	visibility: hidden;
}

/*Positioning properties*/

.staticElement{
	position: static;
}
/* This is how yuo fix text.
.fixedElement{
	position: fixed;
	top: 30px;
	right: 5px;
}
*/

.relativeElement{
	position: relative;
	top: 50px;
	left: 50px;
}

/*Floating properties*/

.floatImage{
	float: right;
}

.floatImage2{
	float: left;
}

.floatText{
	float: left;
}

/*Clearing properties*/

.clearingText{
	clear: both;
}

/*Overflow properties*/

.soloLearnExample{
	width: 150px;
    height: 150px;
    background-color: LightBlue;
    float: left;
}

.soloLearnExample2{
	width: 150px;
    height: 150px;
    background-color: LightBlue;
    float: left;
    overflow: scroll;
}

/*The Z-index*/

.blue { 
    background-color: #8EC4D0;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    color: #FFF;
}
.red {
    background-color: #FF4D4D;
    position: relative;
    width: 120px;
    height: 120px;
    color: #FFF;
    margin-top: -50px;
    margin-left: 50px;
}

.blue2{ 
    background-color: #8EC4D0;
    position: relative;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    color: #FFF;
    z-index: 2;
}
.red2{
    background-color: #FF4D4D;
    position: relative;
    width: 120px;
    height: 120px;
    color: #FFF;
    margin-top: -50px;
    margin-left: 50px;
    z-index: 1;
}