/*These are standard variables and functions that are continuos throughout the web page.*/
body{
	font-family: Arial;
}

.headingVar{
	font-variant: small-caps;
}

.clearBox{
	clear: both;
}

.boxSection{
	-webkit-border-radius:24px;
	width: 100%x;
    height: 50px;
    float: left;
    overflow: scroll;
    width:95%;
    padding:5px;
}

/*This was a different example.
.VendorPrefix{
	-webkit-border-radius:24px;
	border-radius: 24px;
    border:1px solid green;
    width:200px;
    padding:25px;
}
*/
/*
Making Circles
*/
.Circles{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: green;
	color: white;
}
/*
Making Box Shadows
*/
.PosBoxShadow{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow:  10px 10px 5px 5px#888888;
}

.NegBoxShadow{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow:  -10px -10px 5px -5px #888888;
}
/*
Adding Images
*/
.ArticleImg{
	height: 588px;
	width: 582px;
	background-image: url("ArticleImg.png");
}






















/*
	<p class="boxSection"></p>
	<p class="clearBox"></p>
*/