/*These are standard variables and functions that are continuos throughout the web page.*/
body{
	font-family: Arial;
}

.headingVar{
	font-variant: small-caps;
}

.clearBox{
	clear: both;
}

.boxSection{
	-webkit-border-radius:24px;
	width: 100%x;
    height: 50px;
    float: left;
    overflow: scroll;
    width:95%;
    padding:5px;
}

/*This was a different example.
.VendorPrefix{
	-webkit-border-radius:24px;
	border-radius: 24px;
    border:1px solid green;
    width:200px;
    padding:25px;
}
*/
/*
Making Circles
*/
.Circles{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: green;
	color: white;
}
/*
Making Box Shadows
*/
.PosBoxShadow{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow:  10px 10px 5px 5px#888888;
}

.NegBoxShadow{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow:  -10px -10px 5px -5px #888888;
}

.InnerShadow{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow: inset 10px 10px 5px 5px#888888;
}

.MultiLayered1{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow: inset 10px 10px 5px 5px#888888, inset -10px -10px 5px 5px#888888;
}

.MultiLayered2{
	width: 200px;
	height: 100px;
	background-color: green;
	box-shadow: 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;
}
/*
Adding Text Shadow
*/
.txtShadowImg{
	height: 338px;
	width: 661px;
	background-image: url("textShadow.png");
}

.txtShadow1{
	text-shadow: 5px 10px 2px #93968f;
}

.txtShadow2{
	text-shadow: 5px 10px 2px #93968f, -3px 6px 5px #58d1e3;
}
/*
The Transparency Effect
*/
.navBar{
	padding: 50px 0;
	min-width: 500px
}

.navBarBackground{
	background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.2) 25%, 
     rgba(255, 255, 255, 0.2) 75%, 
     rgba(255, 255, 255, 0) 100%);
	background-color: lightskyblue;
   	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.linkLayout{
	display: inline-block;
}

.navLink{
	padding: 10px; 
   	color: #FFFFFF;
   	font-size: 18px;
   	font-family: Arial;
   	text-decoration: none;
   	display: block;
}
/*
Adding Images
*/
.ArticleImg{
	height: 588px;
	width: 582px;
	background-image: url("ArticleImg.png");
}
/*
Psuedo Classes and Elements
*/
#parent1 p:first-child{
	color: green;
	text-decoration: underline;
}

#parent2 p:last-child{
	color: green;
	text-decoration: underline;
}
.PsuedoElementsImg{
	height: 224px;
	width: 724px;
	background-image: url("PsuedoElements.png"); 
}

.PsuedoElementExample::selection{
	background: #8bc34a;
   	color: #fff;
}






















/*
	<p class="boxSection"></p>
	<p class="clearBox"></p>
*/